# Last.fm API - required for the "Last played" Spotify widget
# 1. Create a free account at https://www.last.fm/join
# 2. Connect Spotify via https://www.last.fm/settings/applications (enable scrobbling)
# 3. Get an API key at https://www.last.fm/api/account/create
PUBLIC_LASTFM_API_KEY=your_lastfm_api_key_here
PUBLIC_LASTFM_USERNAME=your_lastfm_username_here
