---
import ExperienceItem from "../components/ExperienceItem.astro"
import { EXPERIENCIE } from "../const";
---

<ol class="relative">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>